.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/fontawesome-webfont.ttf
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
vendor/*
.DS_Store



flipping1393244595.png

flipping1393244985.png

resources/fontawesome-webfont.ttf

*.log
debugger_cmds

# ゴミ箱
zz_trash/