.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/fontawesome-webfont.ttf
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.bundle
vendor/*
.DS_Store
backup

flipping1393244595.png
flipping1393244985.png

*.log
debugger_cmds

# ゴミ箱
zz_trash/

# motion-awesome
resources/fontawesome.plist
resources/fontawesome-webfont.ttf

# appium
appium_tests/vendor/
vendor/
node_modules/
